body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: darkslategray;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-indent: 2em;
    text-justify: auto;
}

p a{
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

p strong{
    color: cadetblue;
}